DATABASE_URL=""
AUTH_SECRET=""
AUTH_URL=""
# GOOGLE_CLIENT_ID=""
# GOOGLE_CLIENT_SECRET=""
# EMAIL_SERVER=""
# EMAIL_FROM=""
# SETLISTFM_API_KEY=""
# SETLISTFM_DAILY_QUOTA="1440"
# SETLISTFM_REFRESH_BUDGET_PCT="20"
# CRON_SECRET=""
# STORAGE_DRIVER="s3"
# S3_ENDPOINT=""
# S3_REGION=""
# S3_BUCKET=""
# S3_ACCESS_KEY_ID=""
# S3_SECRET_ACCESS_KEY=""
# ASSET_BASE_URL=""
# ASSET_URL_TTL_SECONDS="600"
